@font-face {
	font-family: "keep-calm";
	src: url("fonts/keep_calm/KeepCalm-Medium.woff2") format("woff2"),
		url("fonts/keep_calm/KeepCalm-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

:root {
	/* Colors from the project design file*/
	/* --sidebar-color: #1992d4;
	--main-color: #e2e8f0;
	--card-main-color: white;
	--card-border-color: #f0b42a;
	--sidebar-text-color: white;
	--main-header-color: black;
	--header-color: white; */

	--sidebar-color: #2a2a2a;
	--main-color: white;
	--card-main-color: #ffff9b;
	--card-border-color: #2a2a2a;
	--sidebar-text-color: #f4f440;
	--main-header-color: black;
	--header-color: #e8e8e8;

	--card-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

	--svg-yellow-filer: filter: invert(100%) sepia(38%) saturate(4432%) hue-rotate(328deg) brightness(119%) contrast(91%);

	--main-header-text-size: 1.45em;

	--card-header-size: 1.2em;
	--card-text-color: #2a2a2a;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	line-height: 1.5;
	min-height: 100%;
	font-family: "keep-calm", sans-serif;
	background-color: var(--main-color);
	display: flex;
	min-width: 100%;
	flex: 1 1 auto;
}
a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: 3fr 11fr;
	grid-template-areas: "sidebar header" "sidebar main";

	@media (max-width: 1100px) {
		grid-template-columns: min-content 1fr;
	}
}

.sidebar {
	background-color: var(--sidebar-color);
	color: #fff;
	grid-area: sidebar;
	font-size: 1rem;
	color: var(--sidebar-text-color);
	padding: 1.8em;
	display: grid;
	gap: 4em;
	grid-template-rows: repeat(3, min-content);

	> div:first-of-type {
		display: flex;
		gap: 1.5em;
		align-items: center;
	}

	h1 {
		font-size: 1.8em;
		margin-bottom: -0.2em;
	}

	img {
		filter: invert(100%) sepia(38%) saturate(4432%) hue-rotate(328deg) brightness(119%) contrast(91%);
	}

	ul {
		font-size: 1.4em;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		gap: 1.4em;
	}

	li {
		display: flex;
		gap: 1em;
		align-items: center;

		a {
			margin-bottom: -0.3em;
			color: var(--sidebar-text-color);
		}
	}
}

.header {
	grid-area: header;
	background-color: var(--header-color);
	font-size: 1rem;
	box-shadow: var(--card-shadow);
	display: grid;
	grid-template-columns: 8fr 2fr;
	padding: 1.6em 4.2em 1em 3em;
	gap: 2.5em 1em;

	@media (max-width: 1100px) {
		grid-template-columns: 1fr;
	}

	.search-container {
		display: flex;
		justify-content: center;
		align-items: center;

		search,
		form,
		label {
			display: flex;
			width: 100%;
			align-items: center;
		}

		label {
			gap: 1.6em;
		}

		input {
			display: flex;
			flex-grow: 1;
			font-size: 1.2em;
			background-color: white;
			height: 1.6em;
			border-radius: 2em;
			border: none;
			padding: 0 0.8em;
			box-shadow: var(--card-shadow);
		}
	}

	.notification-container {
		display: flex;
		justify-content: end;
		align-items: center;
		font-size: 1.15em;
		gap: 1.6em;
		padding-right: 0.6em;

		p {
			margin-bottom: -0.2em;
		}
	}

	.profile {
		display: flex;
		align-items: center;
		gap: 2em;

		p:first-of-type {
			font-size: 0.95em;

			& + p {
				font-size: 1.4em;
				font-weight: bold;
				letter-spacing: 0.05em;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
			}
		}
	}

	.nav {
		display: flex;
		justify-content: end;
		align-items: center;

		ul {
			display: flex;
			font-size: 0.95em;
			gap: 2.2em;
			letter-spacing: 0.05rem;
		}

		li {
			background-color: var(--sidebar-color);
			padding: 0.8em 2em 0.6em;
			border-radius: 1.6em;

			a {
				margin-top: 20px;
				color: var(--sidebar-text-color);
			}
		}
	}
}

.main-content {
	font-size: 1rem;
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr 0.73fr;
	grid-template-rows: repeat(6, 105px);
	grid-auto-rows: 105px;
	padding: 4.7em 1.4em 4em;
	gap: 2em 1.5em;
	background: #ffffff;
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 238, 156, 1) 50%,
		rgba(31, 31, 0, 1) 100%
	);

	@media (max-width: 1439px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(6, 95px);
	}

	@media (max-width: 1100px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 95px);
	}

	.projects {
		display: contents;
		position: relative;

		h2 {
			position: absolute;
			margin-top: -2em;
			font-size: var(--main-header-text-size);
			color: var(--main-header-color);
		}

		.cards {
			display: contents;
		}
	}

	.announcements {
		grid-column: 3;
		grid-row: 1 / span 3;
		display: flex;
		position: relative;

		@media (max-width: 1439px) {
			grid-column: 2;
			grid-row: 1 / span 3;
		}

		h2 {
			position: absolute;
			margin-top: -2em;
			font-size: var(--main-header-text-size);
			color: var(--main-header-color);
		}

		ul {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			justify-content: space-between;

			padding: 2.4em 2.2em;
			border-radius: 0.8em;
			box-shadow: var(--card-shadow);
			background-color: var(--card-main-color);
		}


		li {
			border-bottom: 1px solid grey;
			padding-bottom: 1em;

			h6 {
				font-size: 1em;
			}

			p {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
				font-size: 0.8em;
			}

			&:last-of-type {
				border-bottom-width: 0;
				padding-bottom: 0;
			}
		}

	


		@media (max-width: 1100px) {
			grid-column: unset;
			grid-row: span 3;
			flex-direction: column;
			gap: 0.8em;

			h2 {
				position: relative;
				margin-top: 0;
			}
		}
	}

	.trending {
		display: flex;
		grid-column: 3;
		grid-row: 4 / span 3;
		flex-direction: column;
		gap: 0.8em;

		@media (max-width: 1439px) {
			grid-column: 2;
			grid-row: 4 / span 3;
		}

		@media (max-width: 1100px) {
			grid-column: unset;
			grid-row: span 3;
		}

		h2 {
			font-size: var(--main-header-text-size);
			margin-top: 0.4em;
			color: var(--main-header-color);
		}

		ul {
			display: flex;
			flex: 1 1 auto;
			flex-direction: column;
			justify-content: space-between;

			background-color: var(--card-main-color);
			padding: 1.8em 1.8em;
			border-radius: 0.8em;
			box-shadow: var(--card-shadow);
		}

		li {
			display: flex;
			gap: 1em;
			align-items: center;

			h6 {
				font-size:0.8em;
			}

			p {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
				font-size: 1em;
				letter-spacing: 0.05em;
			}
		}
	}
}

.img {
	display: flex;
	flex-shrink: 0;
	min-height: 24px;
	min-width: 24px;
}

.rounded {
	border-radius: 100%;
}

.card {
	grid-row: span 2;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--card-main-color);
	border-left: 0.45em solid var(--card-border-color);
	border-radius: 8px;
	box-shadow: var(--card-shadow);
	padding: 2.2em 1.6em;
	color: var(--card-text-color);
	line-height: 1.2em;
	text-wrap: pretty;

	h5 {
		font-size: var(--card-header-size);
	}

	p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		overflow: hidden;
	}

	> ul {
		display: flex;
		justify-content: end;
		gap: 2em;
	}
}
